// #######################################
// Content
// #######################################

.content {
  margin-top: 1px;
  padding-top: 40px;
  padding-bottom: 40px;

  > section {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
  }

  > h1,
  > h2,
  > h3,
  > h4 {
    padding-top: 80px;
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}

// Breakpoint

@include breakpoint(small) {
  .content {
    > section {
      text-align: left;
    }
  }
}

@include breakpoint(large) {
  main {
    margin-left: 10vw;
  }
}