html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $background;
    background-attachment: fixed;
    background-image: url('../img/bg-pattern.svg');
    background-size: 20px;
}