// Base Typography

:root {
    font-size: 16px;
}

body {
    font-family: $f-family;
    font-weight: $font-light;
    @include fluid-type(font-size, $screen-min, $screen-max, $f-p-size1, $f-p-size2);
    line-height: 1.5;
    color: $font-color;
}

// Headings

h1,
h2,
h3,
h4 {
    color: $font-dark-color;
    font-weight: $font-bold;
}

h1, .h1 {
    @include fluid-type(font-size, $screen-min, $screen-max, $f-h1-size1, $f-h1-size2);
}

h2, .h2 {
    @include fluid-type(font-size, $screen-min, $screen-max, $f-h2-size1, $f-h2-size2);
}

h3, .h3 {
    @include fluid-type(font-size, $screen-min, $screen-max, $f-h3-size1, $f-h3-size2);
}

h4, .h4 {
    @include fluid-type(font-size, $screen-min, $screen-max, $f-h4-size1, $f-h4-size2);
}

// Links 

a {
    text-decoration: none;
    color: inherit;
}

// Classes

.bigger {
    @include fluid-type(font-size, $screen-min, $screen-max, $f-h4-size1, $f-h4-size2);
}

.smaller {
    @include fluid-type(font-size, $screen-min, $screen-max, $f-small-size1, $f-small-size2);
}

.italic {
    font-style: italic;
}

.light {
    font-weight: 300;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.brand {
    color: $brand;
}